<commune>
    <server>
        <!-- 连接用户数据库的JDBC URL -->
        <url>jdbc:mysql://127.0.0.1:3306/COMMUNE?characterEncoding=utf8&amp;useSSL=true</url>

        <!-- 用户数据库的用户名，该用户应该对COMMUNE/User表有读写权限 -->
        <user>root</user>

        <!-- 用户数据库的密码 -->
        <password>p@ssw0rd</password>

        <!-- 服务器监听的端口号 -->
        <port>4074</port>
    </server>
</commune>